<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- Primary Meta Tags -->
		<title>Pushpit's Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<link rel="canonical" href="https://themesberg.com/product/ui-kits/neumorphism-ui/" />

		<!-- Fontawesome -->
		<link type="text/css" href="../vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

		<!-- Pixel CSS -->
		<link type="text/css" href="../css/neumorphism.css" rel="stylesheet" />

		<link type="text/css" href="../css/pushpits_portfolio.css" rel="stylesheet" />
	</head>
	<body>
		<header class="header-global">
			<nav
				id="navbar-main"
				aria-label="Primary navigation"
				class="
					navbar navbar-main navbar-expand-lg navbar-theme-primary
					headroom
					navbar-light navbar-transparent navbar-theme-primary
				"
			>
				<div class="container position-relative">
					<a
						class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4 font-weight-bold"
						href="../index.html"
					>
						Home
					</a>
					<div class="navbar-collapse" id="navbar_global">
						<div class="navbar-collapse-header">
							<div class="row">
								<div class="col-6 collapse-brand">
									<a
										href="../index.html"
										class="navbar-brand shadow-soft py-2 px-3 rounded border border-light"
									>
										<img src="./assets/img/brand/dark.svg" alt="Themesberg logo" />
									</a>
								</div>
								<div class="col-6 collapse-close">
									<a
										href="#navbar_global"
										class="fas fa-times"
										data-toggle="collapse"
										data-target="#navbar_global"
										aria-controls="navbar_global"
										aria-expanded="false"
										title="close"
										aria-label="Toggle navigation"
									></a>
								</div>
							</div>
						</div>
						<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
							<li class="nav-item dropdown">
								<a href="#" class="nav-link" data-toggle="dropdown">
									<span class="nav-link-inner-text">Pages</span>
									<span class="fas fa-angle-down nav-link-arrow ml-2"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="../pages/skills.html">Skills</a></li>
									<li><a class="dropdown-item" href="../pages/tools.html">Tools</a></li>
									<li><a class="dropdown-item" href="../pages/projects.html">Projects</a></li>
									<li>
										<a class="dropdown-item" href="../pages/opensource.html"
											>Open Source Projects</a
										>
									</li>
									<li><a class="dropdown-item" href="../pages/structure.html">Structure</a></li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a href="#" class="nav-link" data-toggle="dropdown">
									<span class="nav-link-inner-text">Components</span>
									<span class="fas fa-angle-down nav-link-arrow ml-2"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a
											class="dropdown-item d-flex align-items-center justify-content-between"
											href="./login_neumorphism.html"
											>Login & Register <span class="badge badge-dark ml-3">New</span></a
										>
									</li>
									<li>
										<a class="dropdown-item" href="./tables.html">Tables</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="section bg-primary pt-0 section-lg mt-8">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="mb-4">
								<span class="h5">Default table</span>
							</div>
							<div class="mb-5">
								<table class="table shadow-soft rounded">
									<tr>
										<th class="border-0" scope="col" id="class">Class</th>
										<th class="border-0" scope="col" id="teacher">Teacher</th>
										<th class="border-0" scope="col" id="males">Males</th>
										<th class="border-0" scope="col" id="females">Females</th>
									</tr>
									<tr>
										<th scope="row" id="firstyear" rowspan="2">First Year</th>
										<th scope="row" id="Bolter" headers="firstyear teacher">D. Bolter</th>
										<td headers="firstyear Bolter males">5</td>
										<td headers="firstyear Bolter females">4</td>
									</tr>
									<tr>
										<th scope="row" id="Cheetham" headers="firstyear teacher">A. Cheetham</th>
										<td headers="firstyear Cheetham males">7</td>
										<td headers="firstyear Cheetham females">9</td>
									</tr>
									<tr>
										<th scope="row" id="secondyear" rowspan="3">Second Year</th>
										<th scope="row" id="Lam" headers="secondyear teacher">M. Lam</th>
										<td headers="secondyear Lam males">3</td>
										<td headers="secondyear Lam females">9</td>
									</tr>
									<tr>
										<th scope="row" id="Crossy" headers="secondyear teacher">S. Crossy</th>
										<td headers="secondyear Crossy males">4</td>
										<td headers="secondyear Crossy females">3</td>
									</tr>
									<tr>
										<th scope="row" id="Forsyth" headers="secondyear teacher">A. Forsyth</th>
										<td headers="secondyear Forsyth males">6</td>
										<td headers="secondyear Forsyth females">9</td>
									</tr>
								</table>
							</div>
							<div class="mb-5">
								<div class="mb-4">
									<span class="h5">Hoverable rows</span>
								</div>
								<table class="table table-hover shadow-inset rounded">
									<tr>
										<th class="border-0" scope="col" id="class3">Class</th>
										<th class="border-0" scope="col" id="teacher3">Teacher</th>
										<th class="border-0" scope="col" id="males3">Males</th>
										<th class="border-0" scope="col" id="females3">Females</th>
									</tr>
									<tr>
										<th scope="row" id="firstyear3" rowspan="2">First Year</th>
										<th scope="row" id="Bolter3" headers="firstyear3 teacher3">D. Bolter</th>
										<td headers="firstyear3 Bolter3 males3">5</td>
										<td headers="firstyear3 Bolter3 females3">4</td>
									</tr>
									<tr>
										<th scope="row" id="Cheetham3" headers="firstyear3 teacher3">A. Cheetham</th>
										<td headers="firstyear3 Cheetham3 males3">7</td>
										<td headers="firstyear3 Cheetham3 females3">9</td>
									</tr>
									<tr>
										<th scope="row" id="secondyear3" rowspan="3">Second Year</th>
										<th scope="row" id="Lam3" headers="secondyear3 teacher3">M. Lam</th>
										<td headers="secondyear3 Lam3 males3">3</td>
										<td headers="secondyear3 Lam3 females3">9</td>
									</tr>
									<tr>
										<th scope="row" id="Crossy3" headers="secondyear3 teacher3">S. Crossy</th>
										<td headers="secondyear3 Crossy3 males3">4</td>
										<td headers="secondyear3 Crossy3 females3">3</td>
									</tr>
									<tr>
										<th scope="row" id="Forsyth3" headers="secondyear3 teacher3">A. Forsyth</th>
										<td headers="secondyear3 Forsyth3 males3">6</td>
										<td headers="secondyear3 Forsyth3 females3">9</td>
									</tr>
								</table>
							</div>
							<div class="mb-5">
								<div class="mb-4">
									<span class="h5">Responsive Table</span>
								</div>
								<div class="table-responsive-sm shadow-soft rounded">
									<table class="table table-striped">
										<tr>
											<th class="border-0" scope="col" id="class2">Class</th>
											<th class="border-0" scope="col" id="teacher2">Teacher</th>
											<th class="border-0" scope="col" id="males2">Males</th>
											<th class="border-0" scope="col" id="females2">Females</th>
										</tr>
										<tr>
											<th scope="row" id="firstyear2" rowspan="2">First Year</th>
											<th scope="row" id="Bolter2" headers="firstyear2 teacher2">D. Bolter</th>
											<td headers="firstyear2 Bolter2 males2">5</td>
											<td headers="firstyear2 Bolter2 females2">4</td>
										</tr>
										<tr>
											<th scope="row" id="Cheetham2" headers="firstyear2 teacher2">
												A. Cheetham
											</th>
											<td headers="firstyear2 Cheetham2 males2">7</td>
											<td headers="firstyear2 Cheetham2 females2">9</td>
										</tr>
										<tr>
											<th scope="row" id="secondyear2" rowspan="3">Second Year</th>
											<th scope="row" id="Lam2" headers="secondyear2 teacher2">M. Lam</th>
											<td headers="secondyear2 Lam2 males2">3</td>
											<td headers="secondyear2 Lam2 females2">9</td>
										</tr>
										<tr>
											<th scope="row" id="Crossy2" headers="secondyear2 teacher2">S. Crossy</th>
											<td headers="secondyear2 Crossy2 males2">4</td>
											<td headers="secondyear2 Crossy2 females2">3</td>
										</tr>
										<tr>
											<th scope="row" id="Forsyth2" headers="secondyear2 teacher2">A. Forsyth</th>
											<td headers="secondyear2 Forsyth2 males2">6</td>
											<td headers="secondyear2 Forsyth2 females2">9</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="d-flex pb-0 pt-6 pt-md-7 border-top border-light bg-primary">
			<div class="container">
				<!-- Social Buttons -->
				<div class="section section-lg pt-0 components-section">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<h2 class="h2 mb-6 font-weight-bold">Connect with me</h2>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-12 col-lg-10 align-items-center text-center">
								<a href="https://www.facebook.com/pushpit.bhardwaj.7/" target="_blank">
									<button
										class="btn btn-icon-only btn-pill btn-facebook social_btn_link"
										type="button"
										aria-label="facebook button"
										title="facebook button"
									>
										<span aria-hidden="true" class="fab fa-facebook fa-2x"></span>
									</button>
								</a>
								<a
									href="https://www.youtube.com/channel/UCw4SG-Bh3H1cARcvaWabzlQ/videos"
									target="_blank"
								>
									<button
										class="btn btn-icon-only btn-pill btn-youtube social_btn_link"
										type="button"
										aria-label="youtube button"
										title="youtube button"
									>
										<span aria-hidden="true" class="fab fa-youtube fa-2x"></span>
									</button>
								</a>
								<a href="https://www.linkedin.com/in/pushpit-bhardwaj/" target="_blank">
									<button
										class="btn btn-icon-only btn-pill btn-facebook social_btn_link"
										type="button"
										aria-label="linkedin button"
										title="linkedin button"
									>
										<span aria-hidden="true" class="fab fa-linkedin fa-2x"></span>
									</button>
								</a>
								<a href="https://github.com/Pushpit07" target="_blank">
									<button
										class="btn btn-icon-only btn-pill btn-github social_btn_link"
										type="button"
										aria-label="github button"
										title="github button"
									>
										<span aria-hidden="true" class="fab fa-github-alt fa-2x"></span>
									</button>
								</a>

								<a href="https://www.instagram.com/pushpit._.07/" target="_blank">
									<button
										class="btn btn-icon-only btn-pill btn-instagram social_btn_link"
										type="button"
										aria-label="instagram button"
										title="instagram button"
									>
										<span aria-hidden="true" class="fab fa-instagram fa-2x"></span>
									</button>
								</a>

								<a href="https://dev.to/pushpit07" target="_blank">
									<button
										class="btn btn-icon-only btn-pill btn-github social_btn_link"
										type="button"
										aria-label="dev button"
										title="dev button"
									>
										<span aria-hidden="true" class="fab fa-dev fa-2x"></span>
									</button>
								</a>

								<a href="https://twitter.com/Pushpit07" target="_blank">
									<button
										class="btn btn-icon-only btn-pill btn-twitter social_btn_link"
										type="button"
										aria-label="twitter button"
										title="twitter button"
									>
										<span aria-hidden="true" class="fab fa-twitter fa-2x"></span>
									</button>
								</a>

								<a href="mailto: pushpit07@gmail.com" target="_blank">
									<button
										class="btn btn-icon-only btn-pill btn-github social_btn_link"
										type="button"
										aria-label="mail button"
										title="mail button"
									>
										<span aria-hidden="true" class="far fa-envelope fa-2x"></span>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Core -->
		<script src="../vendor/jquery/dist/jquery.min.js"></script>
		<script src="../vendor/popper.js/dist/umd/popper.min.js"></script>
		<script src="../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../vendor/headroom.js/dist/headroom.min.js"></script>

		<!-- Vendor JS -->
		<script src="../vendor/onscreen/dist/on-screen.umd.min.js"></script>
		<script src="../vendor/nouislider/distribute/nouislider.min.js"></script>
		<script src="../vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script src="../vendor/waypoints/lib/jquery.waypoints.min.js"></script>
		<script src="../vendor/jarallax/dist/jarallax.min.js"></script>
		<script src="../vendor/jquery.counterup/jquery.counterup.min.js"></script>
		<script src="../vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
		<script src="../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
		<script src="../vendor/prismjs/prism.js"></script>

		<script async defer src="https://buttons.github.io/buttons.js"></script>

		<!-- Neumorphism JS -->
		<script src="../assets/js/neumorphism.js"></script>
	</body>
</html>
